name: Create github release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  upload-assets:
    needs: create-release
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            archive_name: openex-x86_64-coolpotos-musl
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            archive_name: openex-x86_64-linux-gnu
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            archive_name: openex-x86_64-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install cross-compilation tools
        if: matrix.target == 'x86_64-unknown-linux-musl'
        run: sudo apt-get update && sudo apt-get install -y musl-tools
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: openex
          archive: ${{ matrix.archive_name }}
          include: lib
          target: ${{ matrix.target }}
          checksum: sha256
          token: ${{ secrets.GITHUB_TOKEN }}